<html>

<head>
    <title>BugTracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        //navegador + relogio
        document.onreadystatechange = () => {
            if (document.readyState === 'interactive') {
                //console.log('olá', window.navigator)
                document.getElementById('userAgent').value = window.navigator.userAgent
                document.getElementById('userDate').value = new Date()
                //console.log('olá', window.navigator.userAgent)
                //console.log('hora', new Date())
            }
        }
    </script>
</head>

<body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">BugTracker</a>
    </nav>
    <div class="container">
        <div class="alert alert-success" role="alert">
            Seu problema foi reportado com sucesso. Muito Obrigado.
            <a href="/">Voltar e reportar mais um problema</a>
        </div>
    </div>
</body>

</html>
